//背景图片
body {
    background:url(/images/background.jpg); // 可以是路径也可以是链接
    background-repeat: no-repeat; // 不重复
    background-attachment:no-fixed; // 固定住背景图片
    background-position:50% 50%; // 图片位置：居中
    background-size: 100% 100%; // 图片长宽扩充为100%
}
//透明度

// 修改内容区域的透明度
.main-inner {
  background: rgba(255,255,255,0.75);
}

.content-wrap {
  opacity: 1;
}文章字体透明度

.sidebar {
  opacity: 0.85;
}//作者状态栏

.header-inner {
  background: rgba(255,255,255,0.73);
}//head

.popup {
  opacity: 1;
}



/** 鼠标样式 开始**/ 
/** 普通指针样式**/ 
body {
cursor: url(http://r1k9uuq9d.hn-bkt.clouddn.com/%E9%BC%A0%E6%A0%872.ico), default;
}
 
/** 链接指针样式**/ 
a:hover{cursor:url(http://r1k9uuq9d.hn-bkt.clouddn.com/pointer.ico), pointer;}
 
/** 鼠标样式 结束**/

